.center{ text-align: center; }
.aright{ text-align: right; }
.aleft{ text-align: left; }
.app-title{
    margin: 0;
    font-size: 18px;
    line-height: 110%;
    vertical-align: middle;
}
.header{
    background: #333;
    color:#fff;
    vertical-align: middle;
    /*padding: 2px;*/
}
.header-links{
    margin: 0;
    li{
        display: block;
    }
}
